* {
  box-sizing: border-box;
}

div {
  z-index: 100 !important;
}

.mobile-container {
  max-width: 375px;
  height: 50px;
  margin: auto;
  background-color: white;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  top: 45px;
  background-color: #692D84;
  position: relative;
}

#myLinks {
  position: relative;
  display: none;
  top: 0;
  left: 0;
}

.topnav a {
  color: white !important;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  color: black !important;
  display: block;
  position: absolute;
  right: 10px;
  top: 0;
}

.active {
  background-color: white;
  color: black;
  height: 53px;
}

.topnav input[type=text] { 
  float: left;
  padding: 6px;
  margin-top: 6px;
  margin-left: 17px;
  border: none;
  font-size: 17px;
  width: 295px;
  background: url(../images/glass.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}


.topnav input[type=text] {
    border: 2px solid #ccc;
    border-radius: 10px; 
  }

  .logo {
    position: absolute;
    width: 108px;
    height: 62px;
    left: 31px;
    top: 102px;
    background: url(../images/PEACE_PROJECT_LOGO.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
  }
 
  .supportGroup1 {
    width: 232px;
    color: #692D84;
    position: absolute;
    top: 100px;
    left: 182px;
    font-family: SF Compact Rounded;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
  }  

.clickJoin {
    width: 310px;
    color: black;
    position: absolute;
    top: 163px;
    left: 77px;
    font-family: SF Compact Rounded;
    font-size: 18px !important;
    text-align: left;
    font-weight: 400px !important;
}

.dads {
    position: absolute !important;
    left: 99px;
    top: 213px;
    color: #692D84;
    font-family: SF Compact Rounded;
    font-size: 24px;
    text-align: center !important;
    font-weight: 700;
}

.btn-dads {
  position: absolute !important;
  width: 300px;
  height: 46px;
  left: 38px;
  top: 252px;
  border-radius: 14px !important;
  font-family: SF Compact Rounded !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  background-color: #BAA3CF !important;
}

.womens {
    position: absolute !important;
    left: 104px;
    top: 318px;
    color: #692D84;
    font-family: SF Compact Rounded;
    font-size: 24px;
    text-align: center !important;
    font-weight: 700;
}

.btn-womens {
  position: absolute !important;
  width: 300px;
  height: 46px;
  left: 36px;
  top: 365px;
  border-radius: 14px !important;
  font-family: SF Compact Rounded !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  background-color: #BAA3CF !important;
}

.counseling {
    position: absolute !important;
    left: 90px;
    top: 431px;
    color: #692D84;
    font-family: SF Compact Rounded;
    font-size: 24px;
    text-align: center !important;
    font-weight: 700;
}

.btn-counseling {
  position: absolute !important;
  width: 300px;
  height: 46px;
  left: 36px;
  top: 478px;
  border-radius: 14px !important;
  font-family: SF Compact Rounded !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  background-color: #BAA3CF !important;
}

.legal {
  position: absolute !important;
  left: 109px;
  top: 545px;
  color: #692D84;
  font-family: SF Compact Rounded;
  font-size: 24px;
  text-align: center !important;
  font-weight: 700;
}

.btn-legal {
  position: absolute !important;
  width: 300px;
  height: 46px;
  left: 36px;
  top: 591px;
  border-radius: 14px !important;
  font-family: SF Compact Rounded !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  background-color: #BAA3CF !important;
}
